/* ------inizialising of the css------ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2.9vh;
    -webkit-text-size-adjust: none;
}

img {
    border: 0px;
}

.desktop {
    display: none !important;
}


/* ------font styles------ */

@font-face {
    font-family: "Monument Grotesk Semi-Mono";
    src: url("../media/font/ABCMonumentGroteskSemi-Mono-Regular.woff");
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-family: "Monument Grotesk Semi-Mono";
    font-weight: normal;
    font-size: 4.5vh;
    line-height: 5.5vh;
    letter-spacing: .2vh;
}

h2 {
    font-family: "Monument Grotesk Semi-Mono";
    font-weight: 500;
    font-size: 2.9vh;
    line-height: 4.5vh;
    letter-spacing: .5vh;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #FF3300;
    cursor: pointer;
    user-select: none;
}

p {
    line-height: 4.5vh;
    letter-spacing: .15vh;
}

.small_txt {
    line-height: 4.5vh;
    letter-spacing: .15vh;
    text-decoration: none;
    color: #FF3300;
    text-transform: capitalize;
}

.small_links {
    letter-spacing: .15vh;
    text-decoration: none;
    color: #FF3300;
    cursor: pointer;
}

.big_link {
    font-size: 18pt;
    letter-spacing: 1pt;
    line-height: 18pt;
    padding-bottom: .5pt;
}

.big_link:hover {
    border-bottom: 1.5pt solid;
}



/**/

body {
    font-family: "Monument Grotesk Semi-Mono";
    color: #FF3300;
    overflow: hidden;
    background-color: white;
    width: auto;
    height: auto;
}

#container {
    display: flex;
    margin: 0;
}

.column {
    height: 100vh;
}





/* ------FIRST COLUMN STYLES------ */

#viewport_column {
    width: 100%;
}

#menu_box {
    background-color: fff;
    height: 8vh;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: flex-start;
    padding: 2vh;
    border-bottom: solid 2px;
}

#menu_box .menu_button {
    line-height: 4vh;
    display: none;

}


#menu_box .menu_button.active {
    display: block;
}



#viewport_box {
    width: 100%;
    padding: 8vh 2vh 0 2vh;
}


#nav-icon {
    height: 4.3vh;
    width: 4.5vh;
    position: absolute;
    right: 2.1vh;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 1.5px;
    width: 100%;
    background-color: #d3531a;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}


#nav-icon span:nth-child(1) {
    top: 1vh;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: center;
}

#nav-icon span:nth-child(2) {
    top: 2vh;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 3vh;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(-45deg) scaleX(.9);
    -moz-transform: rotate(45deg) scaleX(.9);
    -o-transform: rotate(45deg) scaleX(.9);
    transform: rotate(45deg) scaleX(.9);
    top: 2vh;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg) scaleX(.9);
    -moz-transform: rotate(-45deg) scaleX(.9);
    -o-transform: rotate(-45deg) scaleX(.9);
    transform: rotate(-45deg) scaleX(.9);
    top: 2vh;
}


#ham_menu {
    background-color: rgba(255, 255, 255, .95);
    position: fixed;
    width: 100%;
    top: 8vh;
    text-align: end;
    padding: 2vh
}

.ham_menu_button {
    cursor: pointer;
    user-select: none;
}




/* 36 - 39  13 - xcovers tab */

#covers_tab {
    height: 92vh;
    padding-bottom: 2vh;
    overflow-x: hidden;
    overflow-y: auto;
    flex-flow: wrap;
    justify-content: space-between;
}


/* vv hide scrollbar vv*/

#covers_tab::-webkit-scrollbar {
    display: none;
}

#covers_tab {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* ^^ hide scrollbar ^^*/

.cover_card {
    margin-bottom: 2vh;
    width: calc(50% - 1vh);
}


.cover_img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .cover_card {
        width: calc(33.3% - 1vh);
    }
}





.cover_label {
    margin-top: 11pt;
}







/* profile tab */

#profile_tab {
    overflow-x: hidden;
    overflow-y: auto;

}



#left_c {
    display: none;
}

.carousel {
    margin-top: 3vh;
}

.carousel-cell {
    width: 100%;
    padding-top: 150%;
    overflow: hidden;
}

.carousel-cell img {
    position: absolute;
    top: 0;
    width: 100%;
}


#slider_buttons {
    margin: 3vh 0 3vh 0;
    display: flex;
    justify-content: space-between;
}

.slider_button {
    height: 18pt;
    line-height: 15pt;
    font-size: 18pt;
    cursor: pointer;
}







#right_c {
    height: 92vh;
    padding-top: 3vh;
    overflow-x: hidden;
}

#right_c h1 {
    font-size: 4.5vh;
    line-height: 4.5vh;
    letter-spacing: .2vh;
    padding-bottom: 2vh;
}


.bio_txt {
    padding-bottom: 3vh;
}







/* vv hide scrollbar vv*/

#profile_tab::-webkit-scrollbar {
    display: none;
}

#profile_tab {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


#right_c::-webkit-scrollbar {
    display: none;
}

#right_c {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* ^^ hide scrollbar ^^*/

#video_canvas {
    width: 100%;
    height: auto;
    margin-bottom: 3vh;
    display: block !important;
    background-color: rgba(252, 252, 255, .85);
    z-index: 10;
}

#video_profile {
    min-height: 50%;
    width: 100%;

}

#video_trigger {
    margin-top: 25pt;
    cursor: pointer;
}



/* project tab */

#project_tab {
    height: 92vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    overflow-x: hidden;
    overflow-y: auto;
    flex-flow: column;
}

/* vv hide scrollbar vv*/

#project_tab::-webkit-scrollbar {
    display: none;
}

#project_tab {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* ^^ hide scrollbar ^^*/

#project_tab h2 {
    margin-top: 3vh;
}

#project_tab h2:first-child {
    margin-top: 0;
}

.tab h1 {
    font-size: 2.9vh;
    line-height: 4.1vh;
    letter-spacing: .15vh;
}



/* story tab */

#story_tab {
    height: 92vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    overflow-x: hidden;
    overflow-y: auto;
    flex-flow: wrap;
    align-content: flex-start;
}

/* vv hide scrollbar vv*/

#story_tab::-webkit-scrollbar {
    display: none;
}

#story_tab {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* ^^ hide scrollbar ^^*/

#story_tab h2 {
    margin-top: 3vh;
}

#story_tab h2:first-child {
    margin-top: 0;
}

#video_story {
    padding: 3vh 0 3vh 0;
    /*max-width: 858px;*/
    margin-right: auto;
}


/* subscribe tab */



/* contacts tab */

#contacts_tab {
    height: 92vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    overflow-x: hidden;
    overflow-y: auto;
    flex-flow: wrap;
    align-content: flex-start;
}

/* vv hide scrollbar vv*/

#contacts_tab::-webkit-scrollbar {
    display: none;
}

#contacts_tab {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* ^^ hide scrollbar ^^*/

#contacts_tab h1 {
    margin-bottom: 3vh;
}

#contacts_tab .big_link {
    font-size: 2.9vh;
    line-height: 4.1vh;
    letter-spacing: .15vh;
}



/* disclaimer tab */

#disclaimer_tab {
    height: 92vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    overflow-x: hidden;
    overflow-y: auto;
    flex-flow: wrap;
    align-content: flex-start;
}

/* vv hide scrollbar vv*/

#disclaimer_tab::-webkit-scrollbar {
    display: none;
}

#disclaimer_tab {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* ^^ hide scrollbar ^^*/




/* supporters tab */

#supporters_tab {
    height: 92vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    overflow-x: hidden;
    overflow-y: auto;
    flex-flow: column;
}

/* vv hide scrollbar vv*/

#supporters_tab::-webkit-scrollbar {
    display: none;
}

#supporters_tab {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* ^^ hide scrollbar ^^*/

#supporters_tab h2 {
    margin: 15pt 0 25pt 0;
}

#logo_box {
    display: flex;
    justify-content: space-between;
}

.supp_logo {
    height: 50pt;
    width: auto;
}




/* credits tab */

#credits_tab {
    height: 92vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    overflow-x: hidden;
    overflow-y: auto;
    flex-flow: column;
}

/* vv hide scrollbar vv*/

#credits_tab::-webkit-scrollbar {
    display: none;
}

#credits_tab {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* ^^ hide scrollbar ^^*/


#credits_tab h2 {
    margin-top: 3vh;
}

#credits_tab h2:first-child {
    margin-top: 0vh;
}







/* tab hider */


.tab {
    display: flex !important;
}








#bottom_links {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    background-color: white;
}

#logo_bottom_wrap {
    width: 100%;

}

#logo_bottom_wrap img {
    width: 20vh;
    margin-bottom: 2vh;
    margin-top: 14vh;
}

#bottom_links .small_links {
    font-size: 2.6vh;
    text-align: right;
}









#construction_canvas {
    height: 100vh;
    width: 100vw;
    padding: 2vh;
    top: 0;
    left: 0;
    user-select: none;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 252, 255, .85);
    z-index: 10;
}


#construction_canvas h1 {
    text-align: center;
}

.off {
    display: none !important;
}

.on {
    display: flex;
}

.hide {
    opacity: 0;
}

video:focus {
    outline: none;
}
